.main {
  background-color: black;
  color: #FFF;
  padding: 20px 0;
}
.bodo {
  background-color: rgb(111 0 214);
  padding: 20px;
}
.box {
  border: 2px solid rgb(85, 235, 26);
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.box h4 {
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}